* {
  font-family: Bahnschrift, Arial, Helvetica, sans-serif;
  margin: 0;
}
body {
  background: url(../styles/medias/background-home.jpg) fixed no-repeat;
  background-size: 100%;
  background-size: cover;
}
.all-publications {
  margin-top: 250px;
}
